form {
    margin: 40%;
    margin-top: 10%;
}

#row-1 {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}

#row-2 {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}

#row-3 {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}